<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <title> Grocery Shopping Cart</title>
</head>
<body>
    <div class="grid-container">
        <header class="row">
           <div>
              <!-- <img src="logo.png" alt="logo" /> -->
              <a  class="brand" href="index.html"> Grocery Shopping Cart</a>
           </div>
           <div>
               <a href="cart.html">Cart</a>
               <a href="signin.html">Sign In</a>
           </div>
        </header>
        <main>
           <div>
               <div class="row center">
                   <div class="card">
                       <a href="product.html">
                           <!-- image size: 680px by 830pc -->
                          <img class="medium" src="./images/apple.png" alt="product" />
                       </a>
                       <div class="card-body">
                          <a href="product.html">
                              <h2>Äpple</h2>
                          </a>
                          <div class="rating">
                              <span><i class="fa fa-star"></i></span>
                              <span><i class="fa fa-star"></i></span>
                              <span><i class="fa fa-star"></i></span>
                              <span><i class="fa fa-star"></i></span>
                              <span><i class="fa fa-star"></i></span>
                          </div>
                           <div class="price">60kr</div>
                       </div>
                   </div>
                   <div class="card">
                      <a href="product.html">
                         <img class="medium" src="./images/banana.png" alt="product" />
                      </a>
                      <div class="card-body">
                         <a href="product.html">
                             <h2>Banan</h2>
                         </a>
                         <div class="rating">
                             <span><i class="fa fa-star"></i></span>
                             <span><i class="fa fa-star"></i></span>
                             <span><i class="fa fa-star"></i></span>
                             <span><i class="fa fa-star"></i></span>
                             <span><i class="fa fa-star"></i></span>
                          </div>
                          <div class="price">40kr</div>
                       </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                           <img class="medium" src="./images/grape.png" alt="product" />
                        </a>
                        <div class="card-body">
                           <a href="product.html">
                               <h2>Vindruvor</h2>
                           </a>
                           <div class="rating">
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">80kr</div>
                         </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                           <img class="medium" src="./images/lemon.png" alt="product" />
                        </a>
                        <div class="card-body">
                           <a href="product.html">
                               <h2>Citron</h2>
                           </a>
                           <div class="rating">
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star-half-o"></i></span>
                            </div>
                            <div class="price">60kr</div>
                         </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                           <img class="medium" src="./images/mango.png" alt="product" />
                        </a>
                        <div class="card-body">
                           <a href="product.html">
                               <h2>Mango</h2>
                           </a>
                           <div class="rating">
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">120kr</div>
                         </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                           <img class="medium" src="./images/orange.png" alt="product" />
                        </a>
                        <div class="card-body">
                           <a href="product.html">
                               <h2>Apelsin</h2>
                           </a>
                           <div class="rating">
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">35kr</div>
                         </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                           <img class="medium" src="./images/pineapple.png" alt="product" />
                        </a>
                        <div class="card-body">
                           <a href="product.html">
                               <h2>Ananas</h2>
                           </a>
                           <div class="rating">
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa-solid fa-star-half-stroke"></i></span>
                            </div>
                            <div class="price">100kr</div>
                         </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                           <img class="medium" src="./images/strawberry.png" alt="product" />
                        </a>
                        <div class="card-body">
                           <a href="product.html">
                               <h2>Jordgubbe</h2>
                           </a>
                           <div class="rating">
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">50kr</div>
                         </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                           <img class="medium" src="./images/carrot.png" alt="product" />
                        </a>
                        <div class="card-body">
                           <a href="product.html">
                               <h2>Morot</h2>
                           </a>
                           <div class="rating">
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">20kr</div>
                         </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                           <img class="medium" src="./images/tomato.png" alt="product" />
                        </a>
                        <div class="card-body">
                           <a href="product.html">
                               <h2>Tomot</h2>
                           </a>
                           <div class="rating">
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">20kr</div>
                         </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                           <img class="medium" src="./images/cabbage.png" alt="product" />
                        </a>
                        <div class="card-body">
                           <a href="product.html">
                               <h2>kål</h2>
                           </a>
                           <div class="rating">
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">30kr</div>
                         </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                           <img class="medium" src="./images/broccoli.png" alt="product" />
                        </a>
                        <div class="card-body">
                           <a href="product.html">
                               <h2>Broccoli</h2>
                           </a>
                           <div class="rating">
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">10kr</div>
                         </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                           <img class="medium" src="./images/potato.png" alt="product" />
                        </a>
                        <div class="card-body">
                           <a href="product.html">
                               <h2>Potatis</h2>
                           </a>
                           <div class="rating">
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">35kr</div>
                         </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                           <img class="medium" src="./images/red-chili-pepper.png" alt="product" />
                        </a>
                        <div class="card-body">
                           <a href="product.html">
                               <h2>Röd-chili-peppar</h2>
                           </a>
                           <div class="rating">
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price">10kr</div>
                         </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                           <img class="medium" src="./images/onion.png" alt="product" />
                        </a>
                        <div class="card-body">
                           <a href="product.html">
                               <h2>Lök</h2>
                           </a>
                           <div class="rating">
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa fa-star"></i></span>
                               <span><i class="fa-solid fa-star-half-stroke"></i></span>
                            </div>
                            <div class="price">10kr</div>
                         </div>
                    </div>
                    <div class="card">
                     <a href="product.html">
                        <img class="medium" src="./images/corn.png" alt="product" />
                     </a>
                     <div class="card-body">
                        <a href="product.html">
                            <h2>Majs</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa-solid fa-star-half-stroke"></i></span>
                         </div>
                         <div class="price">30kr</div>
                      </div>
                 </div>
                 <div class="card">
                     <a href="product.html">
                        <img class="medium" src="./images/cucumber.png" alt="product" />
                     </a>
                     <div class="card-body">
                        <a href="product.html">
                            <h2>Gurka</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa-solid fa-star-half-stroke"></i></span>
                         </div>
                         <div class="price">15kr</div>
                      </div>
                 </div>
                 <div class="card">
                     <a href="product.html">
                        <img class="medium" src="./images/eggplant.png" alt="product" />
                     </a>
                     <div class="card-body">
                        <a href="product.html">
                            <h2>Aubergine</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa-solid fa-star-half-stroke"></i></span>
                         </div>
                         <div class="price">15kr</div>
                      </div>
                 </div>
                </div>
           </div>
        </main>
        <footer class="row center">
           Fakhara.imran@ All right reserved.
        </footer>
    </div>
</body>
</html>